@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "gajraj";
  src: url("../public/fonts/gajraj.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "yatra";
  src: url("../public/fonts/yatra.ttf");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "inter", sans-serif;
  font-optical-sizing: auto;
}
