@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gajraj";
  src: url("../public/fonts/gajraj.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "yatra";
  src: url("../public/fonts/yatra.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "inter", sans-serif;
  src: url("../public/fonts/inter.ttf");
  font-optical-sizing: auto;
}
